USE [master]
GO
/****** Object:  Database [TwoTables]    Script Date: 27.7.2016 г. 17:29:03 ******/
CREATE DATABASE [TwoTables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TwoTables', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NASKICH\MSSQL\DATA\TwoTables.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TwoTables_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NASKICH\MSSQL\DATA\TwoTables_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TwoTables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TwoTables]
GO
/****** Object:  User [naskich]    Script Date: 27.7.2016 г. 17:29:03 ******/
CREATE USER [naskich] FOR LOGIN [naskich] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 27.7.2016 г. 17:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] NOT NULL,
	[Balance] [int] NULL,
	[PersonsID] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persons]    Script Date: 27.7.2016 г. 17:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[SSN] [int] NULL,
	[PkID] [int] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
